.detail{
    width: 1100px;
    margin: 50px auto;
   
}

.detail h1{
    text-align: center;
}

.detailwisata{   
    display: flex;
}

.detailwisata__left{
    flex: 0.7;
}

.left__image {
    width: 100%;
    height: 100%;
}

.left__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailwisata__right{
    background-color: #F05A28;
    flex: 0.3;
    color: #fff;
    padding: 20px;
}

.detail__map{
    text-align: center;
    margin: 50px auto;
}